//Data Fryslän
:root {
    --text-color: rgb(235, 187, 44);

    --primary-brand-color: rgb(235, 187, 44);
    --secondary-brand-color: #1E90FF;

    --primary-background-color: rgb(4, 35, 46);
    --secondary-background-color: rgb(5, 43, 56);
    --tertiary-background-color: rgb(5, 41, 54);
    --4-background-color: rgb(6, 55, 73);

    --chat-bubble: var(--tertiary-background-color);
    --heading-color: var(--primary-brand-color);
}
