//Data Fryslän
:root {
    --text-color: rgb(33, 37, 41);

    --primary-brand-color: #EBBB2C;
    --secondary-brand-color: #A87E2D;

    --primary-background-color: #042326;
    --secondary-background-color: #0c3444;
    --tertiary-background-color: #14465a;
    --4-background-color: #1c5870;

    --chat-bubble: var(--tertiary-background-color);
    --heading-color: var(--primary-brand-color);
}
