//Data Fryslän
:root {
    --text-color: rgb(33, 37, 41);

    --primary-brand-color: #FFD700;
    --secondary-brand-color: #1E90FF;

    --primary-background-color: #ffffff;
    --secondary-background-color: #f8f9fa;
    --tertiary-background-color: #f1f3f5;
    --4-background-color: #dadcde;

    --chat-bubble: var(--tertiary-background-color);
    --heading-color: var(--primary-brand-color);
}
