:root {
    --text-color: rgb(33, 37, 41);

    --primary-brand-color: #E6007E;
    --secondary-brand-color: #FF8200;


    --primary-background-color: #ffffff;
    --secondary-background-color: #f8f9fa;
    --tertiary-background-color: #f1f3f5;

    --chat-bubble: var(--tertiary-background-color);
    --heading-color: var(--primary-brand-color);
}
