@use './markdown';
@use './theme';
@use './hljs';
//@use '~hljs/styles/monokai.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  letter-spacing: 0.5px;
}

body {
  color: var(--text-color);
}

.input {
  border-radius: 1em;
  padding: 0.5em 1em;
}

textarea {
  resize: none;
}

.kwizLogo {
  width: 35px;
  background-size: cover;
  height: 35px;
  background-position: center;
}

.chatBubble {
  //background: rgba(0,0,0,0.5);
  //border-radius: 1em;
  padding: 0.25em 1em;
  margin-bottom: 1em;
}


