@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #253036;
  --text-color: #eee
}

p {
  letter-spacing: 0.5px;
}

body {
  color: var(--text-color);
}

.input {
  background: rgba(0,0,0,0.5);
  border-radius: 1em;
  padding: 0.5em 1em;
}

.chatBubble {
  //background: rgba(0,0,0,0.5);
  //border-radius: 1em;
  padding: 0.25em 1em;
  margin-bottom: 1em;
}
