
@use './theme';
@use './markdown';
@use './hljs';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
//@use '~hljs/styles/monokai.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

 .material-symbols-outlined {
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: inherit;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      }

p {
  letter-spacing: 0.5px;
}

// body {
//   color: var(--text-color);
// }

.input {
  border-radius: 1em;
  padding: 0.5em 1em;
}

textarea {
  resize: none;
}

.kwizLogo {
  width: 35px;
  background-size: cover;
  height: 35px;
  background-position: center;
}

.chatBubble {
  //background: rgba(0,0,0,0.5);
  //border-radius: 1em;
  padding: 0.25em 1em;
  margin-bottom: 1em;
}


